<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--Author:<<>> Fecha:<<>>                    
    Descripcion : Se define la conexión a la Base de Datos BDLUCKYPRD de XPLORA - PRODUCCCION	
                  Apunta a la BD XPLORA - PRODUCCION
    conexion (1) -->
    <!--<add name="ConectaDBLucky" connectionString="Data Source=192.168.1.11;Initial Catalog=BDLUCKYPRD;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>-->
    <add name="ConectaDBLucky" connectionString="Data Source=.;Initial Catalog=BDLUCKYPRD;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <!--Author:Pablo Salas A.   Fecha:30/07/0212  
    Descripcion : Se define la conexión a la Base de Datos DBLUCKYPRD_BAK de XPLORA -	PRUEBAS
                  Apunta a la BD XPLORA - PRUEBAS
    conexion (1) -->
    <!--<add name="ConectaDBLucky" connectionString="Data Source=192.168.1.11;Initial Catalog=DBLUCKYPRD_BAK;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>-->

    
    <!--Se define la conexión a la Base de Datos DB_LUCKY_TMP de LUCKYMER PRODUCCION  
    Descripcion:  Se define la conexión a la Base de Datos DB_LUCKY_TMP 
                  Apunta a la BD NEXTEL - PRODUCCION
    conexion(2) -->
    <add name="ConectaDBLucky_Tmp" connectionString="Data Source=192.168.1.11;Initial Catalog=DB_LUCKY_TMP;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>
    
    
    <!--Author:<<>> Fecha:<<>> 
    Descripcion: Se define la conexión a la Base de Datos DBLUCKYTMP 
                 Apunta a la BD INTERMEDIA - PRODUCCION
    conexion (3)-->
    <!--<add name="ConectaDBLucky_Tmp_Droid" connectionString="Data Source=192.168.1.11;Initial Catalog=BDLUCKYTMP; Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>-->
    <add name="ConectaDBLucky_Tmp_Droid" connectionString="Data Source=.;Initial Catalog=BDLUCKYPRD;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <!-- Author: Pablo Salas A.   Fecha : 30/07/2012   
    Descripcion: Se define la conexión a la Base de Datos DBLUCKYTMP_BAK 
                 Apunta a la BD INTERMEDIA - PRUEBAS
    conexion (3) -->
    <!--<add name="ConectaDBLucky_Tmp_Droid" connectionString="Data Source=192.168.1.11;Initial Catalog=BDLUCKYTMP_BAK; Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>-->

    
    <!--Author: <<>>  Fecha:<<>>
    Descripcion: Se define la conexión a la Base de Datos BDLUCKYPRD_BAK de XPLORA - Pruebas	
    conexion(4) -->
    <add name="ConectaDBLucky_BAK" connectionString="Data Source=192.168.1.11;Initial Catalog=DBLUCKYPRD_BAK;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/>

    <!--Author: Joseph Gonzales
    Descripcion: Se define la conexión a la Base de Datos EasyWin
    conexion(5) -->
    <add name="ConectaDBEasywin" connectionString="Data Source=LUCKYDC02;Initial Catalog=Easywin;Persist Security Info=True;User ID=userEasywin;Password=easywinconecta" providerName="System.Data.SqlClient"/>


  </connectionStrings> 
  <log4net debug="false">
    <appender name="MBSimoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      
      <!--Author: Pablo Salas A. Fecha:  30/07/2012  Descripcion: Log de PRODUCCION-->
      <file value="C:\Apps\Mobile\Services_Deploy\Log\DeployLog.txt"/>
      <!--Author: Pablo Salas A. Fecha:  30/07/2012  Descripcion: Log de PRUEBAS-->
      <!--<file value="C:\Apps\Mobile\Services_Prueba\Log\DeployLog.txt"/>-->
      
      <!--<file value="D:\Apps\Log\LuckyMerLog.txt"/>-->
      
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="debug"/>
      <appender-ref ref="MBSimoRollingFileAppender"/>
    </root>
  </log4net>


  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="Logger" type="Lucky.CFG.JavaMovil.LogBehaviorExtensionElement, Lucky.CFG, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>        
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <webHttpBinding>
        <binding name="streamWebHttpBinding" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <!-- Create a custom binding for our service to enable sending large amount of data -->
        <binding name="MyBasicHttpBinding"
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647">
          <readerQuotas
        maxArrayLength="2147483647"
        maxBytesPerRead="2147483647"
        maxDepth="2147483647"
        maxNameTableCharCount="2147483647"
        maxStringContentLength="2147483647" />
       
        </binding>
       
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="LargeUploadBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="WSDL">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WCFRest">
          <webHttp/>
          <Logger/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="Lucky.Services.Contracts.ServiceImpl.UsuarioService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IUsuarioService" behaviorConfiguration="WCFRest"/>
      </service>
      <service name="Lucky.Services.Contracts.ServiceImpl.SincronizacionService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.ISincronizacionService" behaviorConfiguration="WCFRest"/>
      </service>
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.ReporteService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="streamWebHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IReporteService" behaviorConfiguration="WCFRest"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Lucky.Services.Contracts.ServiceImpl.EstadoService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IEstadoService" behaviorConfiguration="WCFRest"/>
      </service>
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.MenuService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IMenuService" behaviorConfiguration="WCFRest"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IMenuService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IMenuService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>

      <!--Servicio Gestion Campaña 24/04/2012 PSA-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.Ges_CampaniaService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_CampaniaService"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_CampaniaService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_CampaniaService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>

      <!--Servicio Gestion Operativa 11/05/2012 Joseph Gonzales-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.Ges_OperativaService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_OperativaService"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_OperativaService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_OperativaService" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>
      
      <!--Servicio Gestion Operativa 11/05/2012 Joseph Gonzales-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.AppMovilService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IAppMovil"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IAppMovil" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IAppMovil" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>

      <!--Servicio Gestion Operativa 18/07/2012 Joseph Gonzales-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.Ges_MapsService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_MapsService"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_MapsService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_MapsService" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>

      <!--Servicio Gestion ReporteCliente 02/09/2012 Pablo Salas Alvarez-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.Ges_ReporteCliente">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ReporteCliente"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ReporteCliente" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ReporteCliente" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>
      
      <!--Servicio EAPRO 09/10/2012 Joseph Gonzales Mestanza-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.EAProService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IEAProService"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IEAProService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IEAProService" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>

      <!--Servicio Gestion Cliente 11/10/2012 Joseph Gonzales Mestanza-->
      <service behaviorConfiguration="WSDL" name="Lucky.Services.Contracts.ServiceImpl.Ges_ClienteService">
        <endpoint address="" binding="webHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ClienteService"  behaviorConfiguration="WCFRest"
                 bindingConfiguration="streamWebHttpBinding"/>
        <endpoint address="ws" binding="wsHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ClienteService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="Lucky.Services.Contracts.ServiceContract.IGes_ClienteService" bindingConfiguration="MyBasicHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
      </service>
      
    </services>


  </system.serviceModel>

  <appSettings>
    <add key="Downloads" value="C:\AppMovilNextel\Pages\Modulos\Operativo\Reports\FotoAndroid\" />
    <!--<add key="User" value="adminxplora@lucky.com.pe" />
    <add key="Pass" value="xplo11ra$" />
    <add key="Puerto" value="587" />
    <add key="EMailDesarrolladores" value="destrada@lucky.com.pe, psalas@lucky.com.pe,cmarin@lucky.com.pe, gfarfan@lucky.com.pe, jgonzales@lucky.com.pe" />
    <add key="EmailGerenciaIT" value="chernandez.col@lucky.com.pe" />
    <add key="COUNTRY" value="589" />-->
  </appSettings>
  
</configuration>